/Tema5_Pract2_Ejer1/nbproject/private/
/Tema5_Pract2_Ejer2/nbproject/private/
/Tema5_Pract2_Ejer3/nbproject/private/
/Tema5_Pract2_Ejer3/build/
/NetBeansProjects/Tema6_Prac1_Ejer3/nbproject/private/
/NetBeansProjects/Tema6_Prac1_Ejer3/build/
/TEMA6/Tema6_Pract2_Ejer4/nbproject/private/
/TEMA6/Tema6_Pract2_Ejer4/build/