/Tema5_Pract2_Ejer1/nbproject/private/
/Tema5_Pract2_Ejer2/nbproject/private/
/Tema5_Pract2_Ejer3/nbproject/private/
/Tema5_Pract2_Ejer3/build/
/NetBeansProjects/Tema6_Prac1_Ejer3/nbproject/private/
/NetBeansProjects/Tema6_Prac1_Ejer3/build/
/TEMA6/Tema6_Pract2_Ejer4/nbproject/private/
/TEMA6/Tema6_Pract2_Ejer4/build/
/TEMA6/Practica2/Tema6_Pract2_Ejer4/build/
/TEMA7/PRACTICA_3/Tema7_Pract2_Ejer2/build/
/TEMA7/PRACTICA_3/Tema7_Pract2_Ejer2/nbproject/private/
/TEMA7/PRACTICA_3/Tema7_Pract3_Ejer2/build/
/TEMA7/PRACTICA_3/Tema7_Pract3_Ejer2/nbproject/private/
/TEMA7/PRACTICA_4/Tema7_Practica4/nbproject/private/
/TEMA7/PRACTICA_4/Tema7_Practica4/build/
/TEMA7/PRACTICA_4/Tema7_Practica4/dist/
/TEMA7/PRACTICA_4/PruebaClase/nbproject/private/
/TEMA7/PRACTICA_4/PruebaClase/build/